In [13]:
import pandas as pd
import numpy as np

In [14]:
def convert_months(month):
    
    months = {}
    months['Abr'] = '04'
    months['Ago'] = '08'
    months['Dez'] = '12'
    months['Fev'] = '02'
    months['Jan'] = '01'
    months['Jul'] = '07'
    months['Jun'] = '06'
    months['Mai'] = '05'
    months['Mar'] = '03'
    months['Nov'] = '11'
    months['Out'] = '10'
    months['Set'] = '09'
    
    return months[month]

In [15]:
df = pd.read_csv('./mortality_data/Dados_SICO_2020-04-04.csv')

In [16]:
df['aux'] = df['Data (mm-dd)'].str[:3]
df['month'] = df.aux.apply(lambda x: convert_months(x))

In [17]:
df

,Data (mm-dd),2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,aux,month
0,Jan-01,423.0,318.0,384.0,379,339.0,375.0,407.0,366,475.0,414.0,371.0,375.0,Jan,01
1,Jan-02,435.0,364.0,357.0,357,343.0,394.0,413.0,314,578.0,418.0,386.0,380.0,Jan,01
2,Jan-03,416.0,357.0,370.0,356,352.0,399.0,416.0,339,479.0,450.0,367.0,374.0,Jan,01
3,Jan-04,380.0,322.0,350.0,362,321.0,327.0,466.0,348,501.0,425.0,371.0,363.0,Jan,01
4,Jan-05,446.0,334.0,368.0,354,342.0,359.0,452.0,329,493.0,434.0,367.0,333.0,Jan,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,Dez-27,328.0,333.0,329.0,312,346.0,331.0,326.0,467,426.0,342.0,350.0,NaN,Dez,12
362,Dez-28,381.0,353.0,339.0,285,356.0,358.0,355.0,439,421.0,338.0,318.0,NaN,Dez,12
363,Dez-29,374.0,387.0,351.0,307,343.0,374.0,306.0,454,389.0,347.0,353.0,NaN,Dez,12
364,Dez-30,372.0,352.0,328.0,279,358.0,358.0,327.0,464,352.0,342.0,338.0,NaN,Dez,12
365,Dez-31,335.0,379.0,327.0,320,360.0,382.0,323.0,470,390.0,357.0,345.0,NaN,Dez,12